.func
  cursor: pointer
  color: blueviolet

  &:hover
    color: brown

.disabled
  cursor: not-allowed

  &:hover
    color: blueviolet

.icon_active
  color: red
  background: transparent
  border: 0 solid transparent
  box-shadow: none

.icon--sm
  font-size: large

.icon--xs
  font-size: x-large

  &:hover
    font-size: xx-large

.icon--lg
  font-size: xx-large
